aiogram>3.0
aiomysql>=0.2.0
redis>5.0.0
loguru>0.7.0
python-dotenv==1.0.0
cachetools>5.0.0
pydantic_settings==2.0.0
pdf2image>1.16.0
cryptography>=42.0.5
pytest-shutil>=1.7.0
python-poppler>=0.4.1
pypdf>=4.2.0
watchdog>=4.0.0
